.khan {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  line-height: 1.15em;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  width: 1350px;
  margin-top: 50px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin-top: 36px;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin-top: 10px;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  width: 620px;
  height: 608px;
  margin-top: 68px;
  margin-right: 48px;
  overflow: hidden;
  float: left;
}

.khan__book-pic {
  width: 100%;
}

.khan__buy-link {
  float: left;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  vertical-align: top;
  margin-top: 68px;
}
